{% set conf = salt.grains.filter_by(
  {
    'default': {
      'additional_rules': {
        'inbound': [],
        'outbound': [],
        'forward': [],
      },
      'knock_sequence': {},
    },
  },
  grain = 'os_family',
  merge = salt.pillar.get('ferm')
) %}
