{% set conf = salt.grains.filter_by(
  {
    'default': {
      'helpid': None,
    },
    'dgpc1.lustfield.net': {
      'helpid': 9002,
    },
  },
  grain = 'id',
  merge = salt.pillar.get('pcsupport')
) %}
