{% from 'pcsupport/active.jinja' import conf with context -%}
# See: https://dev.to/bulletmark/create-a-reverse-ssh-tunnel-for-remote-access-to-a-restricted-machine-1ma0
[Unit]
Description=Service to maintain an ssh reverse tunnel
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/ssh -qNn \
  -o ServerAliveInterval=30 \
  -o ServerAliveCountMax=3 \
  -o ExitOnForwardFailure=yes \
  -o StrictHostKeyChecking=no \
  -o UserKnownHostsFile=/dev/null \
  -i /root/pcsupport.token \
  -R {{ conf['helpid'] }}:localhost:22 \
  jumper@{{ conf['host'] }}
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
